<div th:replace="~{user/fragment/header :: header}"></div>

<!-- Start Header Area -->
<div th:replace="~{user/home/navigation :: navigation}"></div>
<!-- End Header Area -->

<!-- Start Header Area -->
<div th:replace="~{user/shop/shop_contents :: product}"></div>
<!-- End Header Area -->

<!-- Start related-product Area -->
<div th:replace="~{user/home/deal :: deal}"></div>
<!-- End related-product Area -->


<!-- start footer Area -->
<div th:replace="~{user/fragment/footer :: footer}"></div>
<!-- End footer Area -->
