<section class="banner-area" xmlns:th="http://www.thymeleaf.org" th:fragment="banner">
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-start">
            <div class="col-lg-12">
                <div class="active-banner-slider owl-carousel">
                    <!-- single-slide -->
                    <div class="row single-slide align-items-center d-flex" th:each="banner : ${banners}">
                        <div class="col-lg-5 col-md-6">
                            <div class="banner-content">
                                <h1 th:text="${banner.getTitle()}"></h1>
                                <p th:text="${banner.getDesc()}"></p>
                                <div class="add-bag d-flex align-items-center">
                                    <a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
                                    <span class="add-text text-uppercase">Add to Bag</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="banner-img">
                                <img class="img-fluid" th:src="@{'/shop/img/banner/' + ${banner.getImg()} + ''}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>