<section class="related-product-area section_gap_bottom p-5" xmlns:th="http://www.thymeleaf.org"
         th:fragment="deal">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h1>Deals of the Week</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore
                        magna aliqua.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20" th:each="deal : ${deals}">
                        <div class="single-related-product d-flex">
                            <img th:src="@{'/shop/img/' + ${deal.getImg()} + ''}" alt="">
                            <div class="desc">
                                <a style="cursor: pointer;" class="title" th:text="${deal.getTitle()}"></a>
                                <div class="price">
                                    <h6 th:text="'$' + ${deal.getPrice()}"></h6>
                                    <h6 class="l-through" th:text="'$' + ${deal.getOldPrice()}"></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ctg-right">
                    <a href="#" target="_blank">
                        <img class="img-fluid d-block mx-auto" th:src="@{/shop/img/category/c5.jpg}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>