<div th:replace="~{user/fragment/header :: header}"></div>

<!-- Start Header Area -->
<div th:replace="~{user/home/navigation :: navigation}"></div>
<!-- End Header Area -->

<!-- start banner Area -->
<div th:replace="~{user/home/banner :: banner}"></div>
<!-- End banner Area -->


<!-- start product Area -->
<div th:replace="~{user/home/product :: product}"></div>
<!-- end product Area -->


<!-- Start related-product Area -->
<div th:replace="~{user/home/deal :: deal}"></div>
<!-- End related-product Area -->


<!-- start footer Area -->
<div th:replace="~{user/fragment/footer :: footer}"></div>
<!-- End footer Area -->