<section class="owl-carousel active-product-area section_gap" xmlns:th="http://www.thymeleaf.org"
         th:fragment="product">
    <!-- single product slide -->
    <div class="single-product-slider">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>Latest Products</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et
                            dolore
                            magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- single product -->
                <div class="col-lg-3 col-md-6" th:each="product : ${products}">
                    <div class="single-product">
                        <img class="img-fluid" style="width: 263px; height:280px" th:src="@{'/shop/img/product/' + ${product.getImg()} + ''}" alt="">
                        <div class="product-details">
                            <h6 th:text="${product.getTitle()}"></h6>
                            <div class="price">
                                <h6 th:text="'$' + ${product.getPrice()}"></h6>
                                <h6 class="l-through" th:text="'$' + ${product.getOldPrice()}"></h6>
                            </div>
                            <div class="prd-bottom">

                                <a href="" class="social-info">
                                    <span class="ti-bag"></span>
                                    <p class="hover-text">add to bag</p>
                                </a>
                                <a href="" class="social-info">
                                    <span class="lnr lnr-move"></span>
                                    <p class="hover-text">view more</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- single product slide -->
    <div class="single-product-slider">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>Coming Products</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et
                            dolore
                            magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- single product -->
                <div class="col-lg-3 col-md-6" th:each="coming_product : ${coming_products}">
                    <div class="single-product">
                        <img class="img-fluid" style="width: 263px; height:280px"
                             th:src="@{'/shop/img/product/' + ${coming_product.getImg()} + ''}"
                             alt="">
                        <div class="product-details">
                            <h6 th:text="${coming_product.getTitle()}"></h6>
                            <div class="price">
                                <h6 th:text="'$' + ${coming_product.getPrice()}"></h6>
                                <h6 class="l-through" th:text="'$' + ${coming_product.getOldPrice()}"></h6>
                            </div>
                            <div class="prd-bottom">

                                <a href="" class="social-info">
                                    <span class="ti-bag"></span>
                                    <p class="hover-text">add to bag</p>
                                </a>
                                <a href="" class="social-info">
                                    <span class="lnr lnr-move"></span>
                                    <p class="hover-text">view more</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
